plugins/ecr-dao/schema/dorm-metadata.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://zenika.com/ecr/dorm/core" xmlns:dm="http://zenika.com/ecr/dorm/core">
	
	<xs:element name="qualifier" type="xs:string" />
	<xs:element name="version" type="xs:string" />
	<xs:element name="extensionName" type="xs:string" />
</xs:schema>